/* space page */


.spaceCards{


display:grid;

grid-template-columns:
repeat(2,300px);

gap:40px;

margin-top:60px;


}




.spaceCards .card{


height:180px;


display:flex;

flex-direction:column;

justify-content:center;


}




aside a{


color:#cbd5e1;

text-decoration:none;

font-size:16px;

}


aside a:hover{

color:white;

}
