.sidebar a{

color:#cbd5e1;

text-decoration:none;

}



.sidebar a:hover{

color:white;

}



.cards .card{

height:220px;

display:flex;

flex-direction:column;

justify-content:center;

}



.cards .card h3{

font-size:30px;

}
