/* space page */


.spaceCards{


display:grid;

grid-template-columns:
repeat(2,300px);

gap:40px;

margin-top:60px;


}




.spaceCards .card{


height:180px;


display:flex;

flex-direction:column;

justify-content:center;


}




aside a{


color:#cbd5e1;

text-decoration:none;

font-size:16px;

}


aside a:hover{

color:white;

}
.pageHeader{

display:flex;

justify-content:space-between;

align-items:center;

}



.plus{

font-size:45px;

cursor:pointer;

background:white;

width:60px;

height:60px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

box-shadow:
0 5px 20px rgba(0,0,0,.15);

}



.folderGrid{


display:grid;

grid-template-columns:

repeat(3,260px);


gap:30px;

margin-top:50px;


}




.hidden{

display:none;

}


.popup{


position:absolute;

background:white;

border-radius:12px;

box-shadow:
0 10px 30px rgba(0,0,0,.2);


z-index:10;

}



.popup div{


padding:15px 25px;

cursor:pointer;


}


.popup div:hover{

background:#f1f5f9;

}
